<?xml version="1.0"?>
<!--
* @category    OmniBuy
* @package     OmniBuy_Prognoos
* @author      Fábio <fabio@constance.com.br>
-->
<config>
    <modules>
        <OmniBuy_Prognoos>
            <version>0.1.0</version>
        </OmniBuy_Prognoos>
    </modules>
    <global>
        <helpers>
            <prognoos>
                <class>OmniBuy_Prognoos_Helper</class>
            </prognoos>
        </helpers>
        <blocks>
            <prognoos>
                <class>OmniBuy_Prognoos_Block</class>
            </prognoos>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <prognoos>
                    <file>prognoos.xml</file>
                </prognoos>
            </updates>
        </layout>
    </frontend>

    <default>
        <vitrines>
            <!-- Home Showcase -->
            <home>
                <qty_best_sellers_products>4</qty_best_sellers_products>
                <qty_recommended>4</qty_recommended>
                <qty_who_saw_also_saw>4</qty_who_saw_also_saw>

                <layout_recommended>
                    <![CDATA[
                        <li class="item last">
                            <a href="##URL##" title="Chelsea Tee" class="product-image">
                                <img src="##IMG##" alt="##NAME##"/>
                            </a>

                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="##URL##" title="##NAME##">##NAME##</a>
                                </h3>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-410-widget-new-grid">
                                        <span class="price">##PRICE##</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    ]]>
                </layout_recommended>

                <layout_who_saw_also_saw>
                    <![CDATA[
                        <li class="item last">
                            <a href="##URL##" title="Chelsea Tee" class="product-image">
                                <img src="##IMG##" alt="##NAME##"/>
                            </a>

                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="##URL##" title="##NAME##">##NAME##</a>
                                </h3>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-410-widget-new-grid">
                                        <span class="price">##PRICE##</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    ]]>
                </layout_who_saw_also_saw>

                <layout_best_sellers>
                    <![CDATA[
                        <li class="item last">
                            <a href="##URL##" title="Chelsea Tee" class="product-image">
                                <img src="##IMG##" alt="##NAME##"/>
                            </a>

                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="##URL##" title="##NAME##">##NAME##</a>
                                </h3>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-410-widget-new-grid">
                                        <span class="price">##PRICE##</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    ]]>
                </layout_best_sellers>
            </home>

            <!-- Category Showcase -->
            <category>
                <qty_most_visited_products>4</qty_most_visited_products>

                <layout_most_visited>
                    <![CDATA[
                        <li class="item last">
                            <a href="##URL##" title="Chelsea Tee" class="product-image">
                                <img src="##IMG##" alt="##NAME##"/>
                            </a>

                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="##URL##" title="##NAME##">##NAME##</a>
                                </h3>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-410-widget-new-grid">
                                        <span class="price">##PRICE##</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    ]]>
                </layout_most_visited>
            </category>

            <!-- Product Showcase -->
            <product>
                <qty_similar_product>4</qty_similar_product>
                <qty_who_saw_also_saw>4</qty_who_saw_also_saw>

                <layout_similar_product>
                    <![CDATA[
                        <li class="item last">
                            <a href="##URL##" title="Chelsea Tee" class="product-image">
                                <img src="##IMG##" alt="##NAME##"/>
                            </a>

                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="##URL##" title="##NAME##">##NAME##</a>
                                </h3>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-410-widget-new-grid">
                                        <span class="price">##PRICE##</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    ]]>
                </layout_similar_product>

                <layout_who_saw_also_saw>
                    <![CDATA[
                        <li class="item last">
                            <a href="##URL##" title="Chelsea Tee" class="product-image">
                                <img src="##IMG##" alt="##NAME##"/>
                            </a>

                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="##URL##" title="##NAME##">##NAME##</a>
                                </h3>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-410-widget-new-grid">
                                        <span class="price">##PRICE##</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    ]]>
                </layout_who_saw_also_saw>
            </product>

            <!-- Cart Showcase -->
            <cart>
                <qty_who_bought_also_bought>4</qty_who_bought_also_bought>

                <layout_who_bought_also_bought>
                    <![CDATA[
                        <li class="item last">
                            <a href="##URL##" title="Chelsea Tee" class="product-image">
                                <img src="##IMG##" alt="##NAME##"/>
                            </a>

                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="##URL##" title="##NAME##">##NAME##</a>
                                </h3>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-410-widget-new-grid">
                                        <span class="price">##PRICE##</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    ]]>
                </layout_who_bought_also_bought>
            </cart>
        </vitrines>
    </default>
</config>